<configuration>
    <springProfile name="test |local">
        <include resource="logging/logback-console.xml"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <include resource="logging/logback-console.xml"/>
        <include resource="logging/logback-file.xml"/>
        <logger name="xyz.bumbing.mvc.logging" level="INFO" additivity="false">
            <appender-ref ref="SLACK"/>
        </logger>
        <root level="info">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <include resource="logging/logback-console.xml"/>
        <include resource="logging/logback-slack.xml"/>
        <include resource="logging/logback-file.xml"/>
        <root level="info">
            <appender-ref ref="SLACK"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>